//
// Offcanvas
// --------------------------------------------------
$zindex-offcanvas-backdrop:		1031;
$zindex-offcanvas:		1032;
$offcanvas-bg: #FFF;

$z-height-0: none;
$z-height-1: 0 1px 3px 0 rgba(0,0,0,.33);
$z-height-2: 0 3px 8px 0 rgba(0,0,0,.38);
$z-height-3: 0 8px 14px 0 rgba(0,0,0,.38);
$z-height-4: 0 14px 19px 0 rgba(0,0,0,.38);
$z-height-5: 0 20px 24px 0 rgba(0,0,0,.38);

$offcanvas-ease-in:				cubic-bezier(.22,.99,.68,.98);
$offcanvas-speed-in:			.5s;
$offcanvas-ease-out:			ease-in;
$offcanvas-speed-out:			.33s;

$offcanvas-title-size:			    20px;
$offcanvas-dimensions-steps:	    12;
$offcanvas-dimensions-step-width:	40px;

@mixin box-shadow($shadow...) {
  -webkit-box-shadow: $shadow; // iOS <4.3 & Android <4.1
  box-shadow: $shadow;
}

@mixin transition-transform($transition...) {
  -webkit-transition: -webkit-transform $transition;
  -moz-transition: -moz-transform $transition;
  -o-transition: -o-transform $transition;
  transition: transform $transition;
}

@mixin translate($x, $y) {
  -webkit-transform: translate($x, $y);
  -ms-transform: translate($x, $y); // IE9 only
  -o-transform: translate($x, $y);
  transform: translate($x, $y);
}

@mixin transition($transition...) {
  -webkit-transition: $transition;
  -o-transition: $transition;
  transition: $transition;
}

@for $i from 1 through $offcanvas-dimensions-steps {
  &.width-#{$i} {
    width: floor($offcanvas-dimensions-step-width * $i);
  }
}

// General styles
// -------------------------

.offcanvas-stack {
  display: table;
}
/*
.offcanvas-stack {
  position: fixed;
  top: 0; bottom: 0;
  z-index: $zindex-offcanvas;
  right: 0;
  left: auto;
  border:5px solid red;
}
*/

body.offcanvas-with-backdrop {
  overflow: hidden;
}

// Pane
// -------------------------

.offcanvas-pane {
  position: fixed;
  display: block;
  top: 0;
  bottom: 0;
  min-width: 8px;
  //max-width: 100%;
  background-color: $offcanvas-bg;
  overflow: auto;
//  @include box-shadow($z-height-0);
//  @include transition-transform($offcanvas-speed-out $offcanvas-ease-out);

  @include box-shadow($z-height-3);
  @include transition-transform($offcanvas-speed-in $offcanvas-ease-in);

  @for $i from 1 through $offcanvas-dimensions-steps {
    &.width-#{$i} {
      &.right {
        right:floor($offcanvas-dimensions-step-width * $i)*-1;
      }
      &.left {
        left:floor($offcanvas-dimensions-step-width * $i)*-1;
      }
      &.offcanvas-opened {
        &.right {
          @include translate(floor($offcanvas-dimensions-step-width * $i)*-1, 0);
        }
        &.left {
          @include translate(floor($offcanvas-dimensions-step-width * $i), 0);
        }
      }
    }
  }

//  &.offcanvas-reduced {
//    @include translate(0, 0);
//  }
}

// Offcanvas body
// -------------------------

.offcanvas-body {
  padding: 16px;
}

// Offcanvas head
// -------------------------

.offcanvas-head {
  position: relative;
  padding: 4px 16px;

  header {
    font-size: $offcanvas-title-size;
  }

  .offcanvas-tools {
    position: absolute;
    left: 4px; right: 4px;
    top: 4px;
  }
}

.offcanvas-backdrop {
  position: fixed;
  z-index: $zindex-offcanvas-backdrop;
  left: 0; right: 0;
  top: 0; bottom: 0;
  display: block;
  //
  background-color: rgba(#000000, 0.3);
}

//
// animations
// --------------------------------------------------

.offcanvas-backdrop.fade {
  opacity: 0;
  @include transition(opacity .15s linear);
  &.in {
    opacity: 1;
  }
}
