<html>
    <head>
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="dist/angular-offcanvas.css" />
        <script src="http://code.jquery.com/jquery-2.1.3.min.js"></script>
        <script src="node_modules/angular/angular.js"></script>
        <script src="../node_modules/angular-animate/angular-animate.js"></script>
        <script src="dist/angular-offcanvas.js"></script>
        <script src="app.js"></script>

        <script src="node_modules/nanoscroller/bin/javascripts/jquery.nanoscroller.js"></script>
        <link rel="stylesheet" href="node_modules/nanoscroller/bin/css/nanoscroller.css" />
    </head>

    <body ng-app="App" ng-controller="TestController">
        <a href="" ng-click="open()">open</a>
        <a href="" ng-click="close()">close</a>

        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed finibus nisl felis, et mattis nisi euismod
            sit amet. Duis est orci, rutrum sit amet scelerisque in, aliquet fringilla eros. Nulla vel turpis dui.
            Donec egestas urna a volutpat lobortis. Suspendisse et est ultrices mi tincidunt cursus. Mauris sit amet
            purus et justo fringilla lobortis sit amet eget arcu. Aliquam sit amet magna convallis, lacinia tortor
            vitae, cursus sapien. Ut eget bibendum quam. Vivamus vulputate massa ut lacus posuere mattis. Nunc
            tempor nec nibh eu faucibus.</p>
        </p>
        <p>Phasellus et risus ut arcu maximus bibendum. Mauris vitae lorem pellentesque, convallis augue ac, posuere
            purus. Donec nec purus id massa feugiat sollicitudin. Pellentesque feugiat nulla tortor, tempor
            efficitur nunc feugiat elementum. Vestibulum placerat faucibus convallis. Duis eget purus facilisis,
            porta enim sit amet, posuere lectus. Nam dolor mi, blandit ut diam quis, auctor pellentesque purus.
            Suspendisse ornare sed ante in ultrices. Cras sed est tempus, ultricies lectus vitae, feugiat ipsum.
            Maecenas vitae odio nec felis commodo tincidunt. Nunc nec nulla a arcu maximus placerat quis et ante.
            Suspendisse blandit massa a ligula congue commodo. Integer tempus tristique sollicitudin. Quisque
            consequat, est vel tempus dapibus, quam risus tempor odio, et consectetur sapien neque sit amet est.
        </p>

        <p>Mauris consectetur neque vel condimentum cursus. Cras dolor felis, vestibulum sit amet elementum nec,
            facilisis nec lectus. Maecenas malesuada sed risus quis gravida. Quisque lacinia aliquet turpis, ut
            dictum purus faucibus at. Etiam euismod tempus metus, eu imperdiet felis egestas vitae. Phasellus at
            vehicula leo. Morbi tempus justo accumsan leo iaculis, vel vestibulum eros mollis. Vivamus tempor nulla
            ut sapien convallis, pulvinar vulputate quam scelerisque. Maecenas aliquam pretium neque, vitae molestie
            felis pharetra et. Sed aliquet enim nec lectus auctor, eu eleifend est ultrices. Donec congue ex ac
            pellentesque faucibus. Nunc vulputate in nisl ut eleifend. Suspendisse gravida ut sapien at semper.
            Vestibulum hendrerit semper nibh ac finibus.
        </p>

        <p>Nam at commodo augue, a porttitor leo. Vivamus efficitur ligula ornare lacus elementum convallis. Fusce
            auctor pretium pretium. Ut velit nibh, tincidunt non sollicitudin at, fermentum vitae risus. Sed at
            convallis risus, sit amet porta mauris. Phasellus lacinia iaculis venenatis. Nam in quam nec arcu mattis
            tincidunt sit amet at ante. Sed in lacus tristique, consectetur enim sed, blandit nisl. In hac habitasse
            platea dictumst. Interdum et malesuada fames ac ante ipsum primis in faucibus. Proin sapien tellus,
            tincidunt a efficitur auctor, scelerisque ac nisi. Pellentesque in ligula varius, tempus massa et,
            consectetur mauris. Aliquam pharetra cursus purus, in fringilla urna euismod sit amet.
        </p>

        <p> Vestibulum mattis quis ligula maximus pulvinar. Integer ac sapien sed mauris laoreet hendrerit tincidunt
            sed sapien. Fusce sodales sodales tortor id semper. Vivamus finibus velit ornare lacus molestie posuere.
            Etiam efficitur, sem accumsan posuere accumsan, tortor mi lacinia sem, eget efficitur magna eros ac
            nunc. Phasellus lobortis libero turpis. Cras euismod sollicitudin dapibus. Pellentesque habitant morbi
            tristique senectus et netus et malesuada fames ac turpis egestas. Maecenas et scelerisque magna. Nullam
            tincidunt quam nec leo facilisis, nec convallis massa interdum.
        </p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed finibus nisl felis, et mattis nisi euismod
            sit amet. Duis est orci, rutrum sit amet scelerisque in, aliquet fringilla eros. Nulla vel turpis dui.
            Donec egestas urna a volutpat lobortis. Suspendisse et est ultrices mi tincidunt cursus. Mauris sit amet
            purus et justo fringilla lobortis sit amet eget arcu. Aliquam sit amet magna convallis, lacinia tortor
            vitae, cursus sapien. Ut eget bibendum quam. Vivamus vulputate massa ut lacus posuere mattis. Nunc
            tempor nec nibh eu faucibus.</p>
        </p>
        <p>Phasellus et risus ut arcu maximus bibendum. Mauris vitae lorem pellentesque, convallis augue ac, posuere
            purus. Donec nec purus id massa feugiat sollicitudin. Pellentesque feugiat nulla tortor, tempor
            efficitur nunc feugiat elementum. Vestibulum placerat faucibus convallis. Duis eget purus facilisis,
            porta enim sit amet, posuere lectus. Nam dolor mi, blandit ut diam quis, auctor pellentesque purus.
            Suspendisse ornare sed ante in ultrices. Cras sed est tempus, ultricies lectus vitae, feugiat ipsum.
            Maecenas vitae odio nec felis commodo tincidunt. Nunc nec nulla a arcu maximus placerat quis et ante.
            Suspendisse blandit massa a ligula congue commodo. Integer tempus tristique sollicitudin. Quisque
            consequat, est vel tempus dapibus, quam risus tempor odio, et consectetur sapien neque sit amet est.
        </p>

        <p>Mauris consectetur neque vel condimentum cursus. Cras dolor felis, vestibulum sit amet elementum nec,
            facilisis nec lectus. Maecenas malesuada sed risus quis gravida. Quisque lacinia aliquet turpis, ut
            dictum purus faucibus at. Etiam euismod tempus metus, eu imperdiet felis egestas vitae. Phasellus at
            vehicula leo. Morbi tempus justo accumsan leo iaculis, vel vestibulum eros mollis. Vivamus tempor nulla
            ut sapien convallis, pulvinar vulputate quam scelerisque. Maecenas aliquam pretium neque, vitae molestie
            felis pharetra et. Sed aliquet enim nec lectus auctor, eu eleifend est ultrices. Donec congue ex ac
            pellentesque faucibus. Nunc vulputate in nisl ut eleifend. Suspendisse gravida ut sapien at semper.
            Vestibulum hendrerit semper nibh ac finibus.
        </p>

        <p>Nam at commodo augue, a porttitor leo. Vivamus efficitur ligula ornare lacus elementum convallis. Fusce
            auctor pretium pretium. Ut velit nibh, tincidunt non sollicitudin at, fermentum vitae risus. Sed at
            convallis risus, sit amet porta mauris. Phasellus lacinia iaculis venenatis. Nam in quam nec arcu mattis
            tincidunt sit amet at ante. Sed in lacus tristique, consectetur enim sed, blandit nisl. In hac habitasse
            platea dictumst. Interdum et malesuada fames ac ante ipsum primis in faucibus. Proin sapien tellus,
            tincidunt a efficitur auctor, scelerisque ac nisi. Pellentesque in ligula varius, tempus massa et,
            consectetur mauris. Aliquam pharetra cursus purus, in fringilla urna euismod sit amet.
        </p>

        <p> Vestibulum mattis quis ligula maximus pulvinar. Integer ac sapien sed mauris laoreet hendrerit tincidunt
            sed sapien. Fusce sodales sodales tortor id semper. Vivamus finibus velit ornare lacus molestie posuere.
            Etiam efficitur, sem accumsan posuere accumsan, tortor mi lacinia sem, eget efficitur magna eros ac
            nunc. Phasellus lobortis libero turpis. Cras euismod sollicitudin dapibus. Pellentesque habitant morbi
            tristique senectus et netus et malesuada fames ac turpis egestas. Maecenas et scelerisque magna. Nullam
            tincidunt quam nec leo facilisis, nec convallis massa interdum.
        </p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed finibus nisl felis, et mattis nisi euismod
            sit amet. Duis est orci, rutrum sit amet scelerisque in, aliquet fringilla eros. Nulla vel turpis dui.
            Donec egestas urna a volutpat lobortis. Suspendisse et est ultrices mi tincidunt cursus. Mauris sit amet
            purus et justo fringilla lobortis sit amet eget arcu. Aliquam sit amet magna convallis, lacinia tortor
            vitae, cursus sapien. Ut eget bibendum quam. Vivamus vulputate massa ut lacus posuere mattis. Nunc
            tempor nec nibh eu faucibus.</p>
        </p>
        <p>Phasellus et risus ut arcu maximus bibendum. Mauris vitae lorem pellentesque, convallis augue ac, posuere
            purus. Donec nec purus id massa feugiat sollicitudin. Pellentesque feugiat nulla tortor, tempor
            efficitur nunc feugiat elementum. Vestibulum placerat faucibus convallis. Duis eget purus facilisis,
            porta enim sit amet, posuere lectus. Nam dolor mi, blandit ut diam quis, auctor pellentesque purus.
            Suspendisse ornare sed ante in ultrices. Cras sed est tempus, ultricies lectus vitae, feugiat ipsum.
            Maecenas vitae odio nec felis commodo tincidunt. Nunc nec nulla a arcu maximus placerat quis et ante.
            Suspendisse blandit massa a ligula congue commodo. Integer tempus tristique sollicitudin. Quisque
            consequat, est vel tempus dapibus, quam risus tempor odio, et consectetur sapien neque sit amet est.
        </p>

        <p>Mauris consectetur neque vel condimentum cursus. Cras dolor felis, vestibulum sit amet elementum nec,
            facilisis nec lectus. Maecenas malesuada sed risus quis gravida. Quisque lacinia aliquet turpis, ut
            dictum purus faucibus at. Etiam euismod tempus metus, eu imperdiet felis egestas vitae. Phasellus at
            vehicula leo. Morbi tempus justo accumsan leo iaculis, vel vestibulum eros mollis. Vivamus tempor nulla
            ut sapien convallis, pulvinar vulputate quam scelerisque. Maecenas aliquam pretium neque, vitae molestie
            felis pharetra et. Sed aliquet enim nec lectus auctor, eu eleifend est ultrices. Donec congue ex ac
            pellentesque faucibus. Nunc vulputate in nisl ut eleifend. Suspendisse gravida ut sapien at semper.
            Vestibulum hendrerit semper nibh ac finibus.
        </p>

        <p>Nam at commodo augue, a porttitor leo. Vivamus efficitur ligula ornare lacus elementum convallis. Fusce
            auctor pretium pretium. Ut velit nibh, tincidunt non sollicitudin at, fermentum vitae risus. Sed at
            convallis risus, sit amet porta mauris. Phasellus lacinia iaculis venenatis. Nam in quam nec arcu mattis
            tincidunt sit amet at ante. Sed in lacus tristique, consectetur enim sed, blandit nisl. In hac habitasse
            platea dictumst. Interdum et malesuada fames ac ante ipsum primis in faucibus. Proin sapien tellus,
            tincidunt a efficitur auctor, scelerisque ac nisi. Pellentesque in ligula varius, tempus massa et,
            consectetur mauris. Aliquam pharetra cursus purus, in fringilla urna euismod sit amet.
        </p>

        <p> Vestibulum mattis quis ligula maximus pulvinar. Integer ac sapien sed mauris laoreet hendrerit tincidunt
            sed sapien. Fusce sodales sodales tortor id semper. Vivamus finibus velit ornare lacus molestie posuere.
            Etiam efficitur, sem accumsan posuere accumsan, tortor mi lacinia sem, eget efficitur magna eros ac
            nunc. Phasellus lobortis libero turpis. Cras euismod sollicitudin dapibus. Pellentesque habitant morbi
            tristique senectus et netus et malesuada fames ac turpis egestas. Maecenas et scelerisque magna. Nullam
            tincidunt quam nec leo facilisis, nec convallis massa interdum.
        </p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed finibus nisl felis, et mattis nisi euismod
            sit amet. Duis est orci, rutrum sit amet scelerisque in, aliquet fringilla eros. Nulla vel turpis dui.
            Donec egestas urna a volutpat lobortis. Suspendisse et est ultrices mi tincidunt cursus. Mauris sit amet
            purus et justo fringilla lobortis sit amet eget arcu. Aliquam sit amet magna convallis, lacinia tortor
            vitae, cursus sapien. Ut eget bibendum quam. Vivamus vulputate massa ut lacus posuere mattis. Nunc
            tempor nec nibh eu faucibus.</p>
        </p>
        <p>Phasellus et risus ut arcu maximus bibendum. Mauris vitae lorem pellentesque, convallis augue ac, posuere
            purus. Donec nec purus id massa feugiat sollicitudin. Pellentesque feugiat nulla tortor, tempor
            efficitur nunc feugiat elementum. Vestibulum placerat faucibus convallis. Duis eget purus facilisis,
            porta enim sit amet, posuere lectus. Nam dolor mi, blandit ut diam quis, auctor pellentesque purus.
            Suspendisse ornare sed ante in ultrices. Cras sed est tempus, ultricies lectus vitae, feugiat ipsum.
            Maecenas vitae odio nec felis commodo tincidunt. Nunc nec nulla a arcu maximus placerat quis et ante.
            Suspendisse blandit massa a ligula congue commodo. Integer tempus tristique sollicitudin. Quisque
            consequat, est vel tempus dapibus, quam risus tempor odio, et consectetur sapien neque sit amet est.
        </p>

        <p>Mauris consectetur neque vel condimentum cursus. Cras dolor felis, vestibulum sit amet elementum nec,
            facilisis nec lectus. Maecenas malesuada sed risus quis gravida. Quisque lacinia aliquet turpis, ut
            dictum purus faucibus at. Etiam euismod tempus metus, eu imperdiet felis egestas vitae. Phasellus at
            vehicula leo. Morbi tempus justo accumsan leo iaculis, vel vestibulum eros mollis. Vivamus tempor nulla
            ut sapien convallis, pulvinar vulputate quam scelerisque. Maecenas aliquam pretium neque, vitae molestie
            felis pharetra et. Sed aliquet enim nec lectus auctor, eu eleifend est ultrices. Donec congue ex ac
            pellentesque faucibus. Nunc vulputate in nisl ut eleifend. Suspendisse gravida ut sapien at semper.
            Vestibulum hendrerit semper nibh ac finibus.
        </p>

        <p>Nam at commodo augue, a porttitor leo. Vivamus efficitur ligula ornare lacus elementum convallis. Fusce
            auctor pretium pretium. Ut velit nibh, tincidunt non sollicitudin at, fermentum vitae risus. Sed at
            convallis risus, sit amet porta mauris. Phasellus lacinia iaculis venenatis. Nam in quam nec arcu mattis
            tincidunt sit amet at ante. Sed in lacus tristique, consectetur enim sed, blandit nisl. In hac habitasse
            platea dictumst. Interdum et malesuada fames ac ante ipsum primis in faucibus. Proin sapien tellus,
            tincidunt a efficitur auctor, scelerisque ac nisi. Pellentesque in ligula varius, tempus massa et,
            consectetur mauris. Aliquam pharetra cursus purus, in fringilla urna euismod sit amet.
        </p>

        <p> Vestibulum mattis quis ligula maximus pulvinar. Integer ac sapien sed mauris laoreet hendrerit tincidunt
            sed sapien. Fusce sodales sodales tortor id semper. Vivamus finibus velit ornare lacus molestie posuere.
            Etiam efficitur, sem accumsan posuere accumsan, tortor mi lacinia sem, eget efficitur magna eros ac
            nunc. Phasellus lobortis libero turpis. Cras euismod sollicitudin dapibus. Pellentesque habitant morbi
            tristique senectus et netus et malesuada fames ac turpis egestas. Maecenas et scelerisque magna. Nullam
            tincidunt quam nec leo facilisis, nec convallis massa interdum.
        </p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed finibus nisl felis, et mattis nisi euismod
            sit amet. Duis est orci, rutrum sit amet scelerisque in, aliquet fringilla eros. Nulla vel turpis dui.
            Donec egestas urna a volutpat lobortis. Suspendisse et est ultrices mi tincidunt cursus. Mauris sit amet
            purus et justo fringilla lobortis sit amet eget arcu. Aliquam sit amet magna convallis, lacinia tortor
            vitae, cursus sapien. Ut eget bibendum quam. Vivamus vulputate massa ut lacus posuere mattis. Nunc
            tempor nec nibh eu faucibus.</p>
        </p>
        <p>Phasellus et risus ut arcu maximus bibendum. Mauris vitae lorem pellentesque, convallis augue ac, posuere
            purus. Donec nec purus id massa feugiat sollicitudin. Pellentesque feugiat nulla tortor, tempor
            efficitur nunc feugiat elementum. Vestibulum placerat faucibus convallis. Duis eget purus facilisis,
            porta enim sit amet, posuere lectus. Nam dolor mi, blandit ut diam quis, auctor pellentesque purus.
            Suspendisse ornare sed ante in ultrices. Cras sed est tempus, ultricies lectus vitae, feugiat ipsum.
            Maecenas vitae odio nec felis commodo tincidunt. Nunc nec nulla a arcu maximus placerat quis et ante.
            Suspendisse blandit massa a ligula congue commodo. Integer tempus tristique sollicitudin. Quisque
            consequat, est vel tempus dapibus, quam risus tempor odio, et consectetur sapien neque sit amet est.
        </p>

        <p>Mauris consectetur neque vel condimentum cursus. Cras dolor felis, vestibulum sit amet elementum nec,
            facilisis nec lectus. Maecenas malesuada sed risus quis gravida. Quisque lacinia aliquet turpis, ut
            dictum purus faucibus at. Etiam euismod tempus metus, eu imperdiet felis egestas vitae. Phasellus at
            vehicula leo. Morbi tempus justo accumsan leo iaculis, vel vestibulum eros mollis. Vivamus tempor nulla
            ut sapien convallis, pulvinar vulputate quam scelerisque. Maecenas aliquam pretium neque, vitae molestie
            felis pharetra et. Sed aliquet enim nec lectus auctor, eu eleifend est ultrices. Donec congue ex ac
            pellentesque faucibus. Nunc vulputate in nisl ut eleifend. Suspendisse gravida ut sapien at semper.
            Vestibulum hendrerit semper nibh ac finibus.
        </p>

        <p>Nam at commodo augue, a porttitor leo. Vivamus efficitur ligula ornare lacus elementum convallis. Fusce
            auctor pretium pretium. Ut velit nibh, tincidunt non sollicitudin at, fermentum vitae risus. Sed at
            convallis risus, sit amet porta mauris. Phasellus lacinia iaculis venenatis. Nam in quam nec arcu mattis
            tincidunt sit amet at ante. Sed in lacus tristique, consectetur enim sed, blandit nisl. In hac habitasse
            platea dictumst. Interdum et malesuada fames ac ante ipsum primis in faucibus. Proin sapien tellus,
            tincidunt a efficitur auctor, scelerisque ac nisi. Pellentesque in ligula varius, tempus massa et,
            consectetur mauris. Aliquam pharetra cursus purus, in fringilla urna euismod sit amet.
        </p>

        <p> Vestibulum mattis quis ligula maximus pulvinar. Integer ac sapien sed mauris laoreet hendrerit tincidunt
            sed sapien. Fusce sodales sodales tortor id semper. Vivamus finibus velit ornare lacus molestie posuere.
            Etiam efficitur, sem accumsan posuere accumsan, tortor mi lacinia sem, eget efficitur magna eros ac
            nunc. Phasellus lobortis libero turpis. Cras euismod sollicitudin dapibus. Pellentesque habitant morbi
            tristique senectus et netus et malesuada fames ac turpis egestas. Maecenas et scelerisque magna. Nullam
            tincidunt quam nec leo facilisis, nec convallis massa interdum.
        </p>





    </body>

    <script type="text/ng-template" id="myDialog.html">

        <div class="offcanvas-head">
            <header class="text-primary">Search {{ test }}</header>
            <div class="offcanvas-tools">
                <a class="btn pull-right" ng-click="instance.close($event)">
                    <i class="fa fa-arrow-left" ng-if="instance.parent"></i>
                    <i class="fa fa-close" ng-if="!instance.parent"></i>
                </a>
            </div>
        </div>
        <div class="offcanvas-body no-padding">
            <form>
                <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <textarea class="form-control" rows="3"></textarea>
                </div>
            </form>

            <a href="" ng-click="open(12)">open</a>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed finibus nisl felis, et mattis nisi euismod
                sit amet. Duis est orci, rutrum sit amet scelerisque in, aliquet fringilla eros. Nulla vel turpis dui.
                Donec egestas urna a volutpat lobortis. Suspendisse et est ultrices mi tincidunt cursus. Mauris sit amet
                purus et justo fringilla lobortis sit amet eget arcu. Aliquam sit amet magna convallis, lacinia tortor
                vitae, cursus sapien. Ut eget bibendum quam. Vivamus vulputate massa ut lacus posuere mattis. Nunc
                tempor nec nibh eu faucibus.</p>
            </p>
            <p>Phasellus et risus ut arcu maximus bibendum. Mauris vitae lorem pellentesque, convallis augue ac, posuere
                purus. Donec nec purus id massa feugiat sollicitudin. Pellentesque feugiat nulla tortor, tempor
                efficitur nunc feugiat elementum. Vestibulum placerat faucibus convallis. Duis eget purus facilisis,
                porta enim sit amet, posuere lectus. Nam dolor mi, blandit ut diam quis, auctor pellentesque purus.
                Suspendisse ornare sed ante in ultrices. Cras sed est tempus, ultricies lectus vitae, feugiat ipsum.
                Maecenas vitae odio nec felis commodo tincidunt. Nunc nec nulla a arcu maximus placerat quis et ante.
                Suspendisse blandit massa a ligula congue commodo. Integer tempus tristique sollicitudin. Quisque
                consequat, est vel tempus dapibus, quam risus tempor odio, et consectetur sapien neque sit amet est.
            </p>




        </div>



    </script>

</html>