<html>
    <head>
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
        <script src="node_modules/angular/angular.js"></script>
        <script src="dist/angular-dialog.js"></script>
        <script src="app.js"></script>
    </head>


    <body ng-app="App" ng-controller="TestController">
        <a href="" ng-click="open()">test</a>
        <a href="" ng-click="open()">test</a>
    </body>

    <script type="text/ng-template" id="myDialog.html">
        <form>
            <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <textarea class="form-control" rows="3"></textarea>
            </div>
        </form>
    </script>

</html>